html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-family: "karla", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
}

small {
  font-size: 1.6rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:visited,
a:hover,
a:active,
a:link {
  color: white;
}

.title {
  font-size: 4.4rem;
  text-align: center;
  font-weight: 700;
  margin: 4.8rem auto;
  letter-spacing: 0.2rem;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 4rem;
  padding-bottom: 1rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
